:root{
    --brand-color: #2196F3;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    font-family:  Roboto, sans-serif;
    color: #757575;
    ;
}
h2,h3,h4 {
    color: #212121;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    font-style: normal;
}
.container {
    width:1200px;
    padding:0 15px;
    margin-left:auto;
    margin-right:auto;
}
/*header*/
header{
    display: flex;
    align-items: center;
    height: 80 px;
    border-bottom: solid 1px #ECECEC;
}
    .header-wrapper
        {display: flex;
         align-items: center;   
    }
    .header-nav{
margin-left: 30px;
    }
    .nav-list{
        display: flex;
    }
    .nav-item:hover{
        color:var(--brand-color) ; 
    }
    .nav-item{
        margin-left: 50px;
        color: #212121;
    }
    .nav-item:first-child{
        margin: 0;
    }
    .nav-link{
        color:inherit;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    }
   .header-address{
    margin-left: auto;
   }
   .address-link{
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
   }
   .address-link.tel{
    margin-left: 50px;
   }
   .address-link:hover{
    color:var(--brand-color) ; 
}
/*hero-sektions*/
.hero-section{
    background-image:linear-gradient(rgba(47, 48, 58, 0.40),
    rgba(47, 48, 58, 0.40)),
     url(./images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
height: 600px;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
align-items: center;
}
.hero-title{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 700px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    color: #FFF;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background-color: var(--brand-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-top: 30px;
border: none;
cursor: pointer;
}
/*<!--section Benefits-->*/
.Benefits-section{
    padding-top: 90px;
} 
.Benefits-title{
    display: none; 
 }
.Benefits-list{
    display: flex;
    justify-content: space-between;
}
.Benefits-items{
    width: 270px;
}
.Benefit-item_thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
background: #F5F4FA;
width: 100%;
height: 120px;

}
.Benefit-title_items{
   
    font-size: 14px;

    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 30px;

}
.Benefit-title_text{

font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-top: 10px;
}
/* section About*/
.about-section{
    padding-top: 90px;
}

.about-list{
display: flex;
justify-content: space-between;
margin-top: 50px;
list-style: none;
padding: 0;

}
.about-item{
width: 370px;
position: relative;
}
.item-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;

    height: 70px;
    color: #FFF;
   justify-content: center;
   align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase; 
    background: rgba(47, 48, 58, 0.80); 
}